# Python
__pycache__/
*.pyc
.venv/
venv/
.venv311

# VS Code
.vscode/

# Jupyter checkpoints
.ipynb_checkpoints/

# TruckScenes dataset
data/

# OS/editor files
.DS_Store
Thumbs.db

# Full object-detection prediction artifacts
object_detection/results/omnihd/lidar_trainval_135_predictions.pkl
object_detection/results/omnihd/radar_trainval_135_predictions.pkl